In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("movies_credits.csv")

In [6]:
df

,movie_id,actor_1_gender,actor_2_gender,actor_1_name,actor_2_name,director_gender,director_name,Unnamed: 0.1,Unnamed: 0,adult,...,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count
0,862,2,2,Tom Hanks,Tim Allen,2,John Lasseter,0,Animation,False,...,21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Toy Story,7.7,5415.0
1,8844,2,2,Robin Williams,Jonathan Hyde,2,Joe Johnston,1,Adventure,False,...,17.015539,TriStar Pictures,United States of America,1995-12-15,262797249.0,104.0,English,Jumanji,6.9,2413.0
2,15602,2,2,Walter Matthau,Jack Lemmon,2,Howard Deutch,2,Romance,False,...,11.712900,Warner Bros.,United States of America,1995-12-22,0.0,101.0,English,Grumpier Old Men,6.5,92.0
3,31357,1,1,Whitney Houston,Angela Bassett,2,Forest Whitaker,3,Comedy,False,...,3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156.0,127.0,English,Waiting to Exhale,6.1,34.0
4,11862,2,1,Steve Martin,Diane Keaton,2,Charles Shyer,4,Comedy,False,...,8.387519,Sandollar Productions,United States of America,1995-02-10,76578911.0,106.0,English,Father of the Bride Part II,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40392,289923,2,1,Monty Bane,Lucy Butler,2,Ben Rock,45458,Horror,False,...,0.386450,Neptune Salad Entertainment,United States of America,2000-10-03,0.0,30.0,English,The Burkittsville 7,7.0,1.0
40393,222848,1,0,Lisa Boyle,Kena Land,2,Aaron Osborne,45459,Science Fiction,False,...,0.661558,Concorde-New Horizons,United States of America,1995-01-01,0.0,85.0,English,Caged Heat 3000,3.5,1.0
40394,30840,2,1,Patrick Bergin,Uma Thurman,2,John Irvin,45460,Drama,False,...,5.683753,Westdeutscher Rundfunk (WDR),Canada,1991-05-13,0.0,104.0,English,Robin Hood,5.7,26.0
40395,67758,1,2,Erika Eleniak,Adam Baldwin,2,Mark L. Lester,45463,Action,False,...,0.903007,American World Pictures,United States of America,2003-08-01,0.0,90.0,English,Betrayal,3.8,6.0
40396,227506,2,1,Iwan Mosschuchin,Nathalie Lissenko,0,Yakov Protazanov,45464,45464,False,...,0.003503,Yermoliev,Russia,1917-10-21,0.0,87.0,[],Satan Triumphant,0.0,0.0

In [7]:
df.isnull().sum()

movie_id                0
actor_1_gender          0
actor_2_gender          0
actor_1_name            0
actor_2_name            0
director_gender         0
director_name           0
Unnamed: 0.1            0
Unnamed: 0              0
adult                   0
budget                  0
genres                  0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
title                   0
vote_average            0
vote_count              0
dtype: int64

In [8]:
df.dtypes

movie_id                  int64
actor_1_gender            int64
actor_2_gender            int64
actor_1_name             object
actor_2_name             object
director_gender           int64
director_name            object
Unnamed: 0.1              int64
Unnamed: 0               object
adult                      bool
budget                    int64
genres                   object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
spoken_languages         object
title                    object
vote_average            float64
vote_count              float64
dtype: object

In [10]:
df.describe()

,movie_id,actor_1_gender,actor_2_gender,director_gender,Unnamed: 0.1,budget,popularity,revenue,runtime,vote_average,vote_count
count,40397.000000,40397.000000,40397.000000,40397.000000,40397.000000,4.039700e+04,40397.000000,4.039700e+04,40397.000000,40397.000000,40397.000000
mean,99952.152091,1.348442,1.171770,1.247419,21818.545486,4.736271e+06,3.222958,1.257198e+07,97.474045,5.693591,122.448449
std,108173.310677,0.804442,0.806344,0.949148,13067.412398,1.838601e+07,6.293955,6.802745e+07,33.664807,1.744957,518.763979
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,24003.000000,1.000000,0.000000,0.000000,10409.000000,0.000000e+00,0.506196,0.000000e+00,87.000000,5.100000,4.000000
50%,53407.000000,2.000000,1.000000,2.000000,21474.000000,0.000000e+00,1.342408,0.000000e+00,96.000000,6.000000,11.000000
75%,134632.000000,2.000000,2.000000,2.000000,32960.000000,0.000000e+00,4.387474,0.000000e+00,108.000000,6.800000,41.000000
max,469172.000000,2.000000,2.000000,2.000000,45464.000000,3.800000e+08,547.488298,2.787965e+09,1256.000000,10.000000,14075.000000

In [11]:
df.dtypes
for x in df:
    if df[x].dtypes == "int64":
        df[x] = df[x].astype(float)
        print (df[x].dtypes)

float64
float64
float64
float64
float64
float64

In [13]:
df2 = df.select_dtypes(exclude=['object'])
df2=df2.fillna(df.mean())

/tmp/ipykernel_19999/1514147538.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2=df2.fillna(df.mean())

In [32]:
x = df2.drop(['Unnamed: 0.1','revenue'],axis=1)

In [21]:
y = df['revenue']

In [47]:
y

0        373554033.0
1        262797249.0
2                0.0
3         81452156.0
4         76578911.0
            ...
40392            0.0
40393            0.0
40394            0.0
40395            0.0
40396            0.0
Name: revenue, Length: 40397, dtype: float64

In [48]:
print(y.mean())

12571978.472114267

In [49]:
y= y.replace(0.0,12571978)

In [54]:
y

0        373554033.0
1        262797249.0
2         12571978.0
3         81452156.0
4         76578911.0
            ...
40392     12571978.0
40393     12571978.0
40394     12571978.0
40395     12571978.0
40396     12571978.0
Name: revenue, Length: 40397, dtype: float64

In [26]:
from sklearn.model_selection import train_test_split

In [53]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [28]:
from sklearn.ensemble import RandomForestRegressor

In [29]:
regressor = RandomForestRegressor(n_estimators = 1000, random_state = 42)

In [33]:
x

,movie_id,actor_1_gender,actor_2_gender,director_gender,adult,budget,popularity,runtime,vote_average,vote_count
0,862.0,2.0,2.0,2.0,False,30000000.0,21.946943,81.0,7.7,5415.0
1,8844.0,2.0,2.0,2.0,False,65000000.0,17.015539,104.0,6.9,2413.0
2,15602.0,2.0,2.0,2.0,False,0.0,11.712900,101.0,6.5,92.0
3,31357.0,1.0,1.0,2.0,False,16000000.0,3.859495,127.0,6.1,34.0
4,11862.0,2.0,1.0,2.0,False,0.0,8.387519,106.0,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...
40392,289923.0,2.0,1.0,2.0,False,0.0,0.386450,30.0,7.0,1.0
40393,222848.0,1.0,0.0,2.0,False,0.0,0.661558,85.0,3.5,1.0
40394,30840.0,2.0,1.0,2.0,False,0.0,5.683753,104.0,5.7,26.0
40395,67758.0,1.0,2.0,2.0,False,0.0,0.903007,90.0,3.8,6.0
40396,227506.0,2.0,1.0,0.0,False,0.0,0.003503,87.0,0.0,0.0

In [55]:
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=1000, random_state=42)

In [56]:
y_pred = regressor.predict(X_test)

In [62]:
y_pred

array([10269911.861, 12571978.   , 12571978.   , ..., 11641143.69 ,
       12300596.48 , 12481571.371])

In [64]:
pd.options.display.float_format = '{:,.4f}'.format

In [65]:
dff=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
dff

                Actual        Predicted
9214      603,943.0000  10,269,911.8610
38245  12,571,978.0000  12,571,978.0000
37968  12,571,978.0000  12,571,978.0000
30390   1,777,043.0000  13,185,158.8420
1278   96,800,000.0000  70,756,000.8100
...                ...              ...
8959   12,571,978.0000  11,573,234.0660
14033 267,045,765.0000 242,006,744.9270
32467  12,571,978.0000  11,641,143.6900
10862  12,571,978.0000  12,300,596.4800
7769   12,571,978.0000  12,481,571.3710

[12120 rows x 2 columns]

In [66]:
from sklearn import metrics
import numpy as np
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 7018374.450581931
Mean Squared Error: 911311713168945.0
Root Mean Squared Error: 30187939.86294767

In [67]:
# Calculate the absolute errors
errors = abs(y_pred - y_test)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / y_test)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Mean Absolute Error: 7018374.45 degrees.
Accuracy: -433734.94 %.

In [68]:
errors = abs(y_pred - y_test)
mape = 100 * np.mean(errors / y_test)
accuracy = 100 - mape

In [69]:
print(accuracy)

-433734.944167863

In [70]:
import pickle

In [72]:
pickle.dump(regressor, open('randome_f_numeric_revenue', "wb"))

In [ ]:
# loaded_model = pickle.load(open(filename, "rb"))